In [107]:
import numpy as np
import pandas as pd
import os
import cv2

In [108]:
mask = []
mask_no = []

In [109]:
for i in range(200):
    mask.append(cv2.cvtColor(cv2.resize(cv2.imread(f'./data/mask/mask_{i}.jpg'), (128, 128)), cv2.COLOR_BGR2RGB))
    mask_no.append(cv2.cvtColor(cv2.resize(cv2.imread(f'./data/no_mask/no_mask_{i}.jpg'), (128, 128)), cv2.COLOR_BGR2RGB))

In [110]:
img = cv2.resize(cv2.imread('./data/mask/mask_0.jpg'), (128, 128))

img.shape

(128, 128, 3)

In [111]:
label_mask = []
label_mask_no = []

In [112]:
for i in range(len(mask)):
    label_mask.append(0)
    label_mask_no.append(1)

In [113]:
mask = np.array(mask, dtype=np.uint)
mask_no = np.array(mask_no, dtype=np.uint)

label_mask = np.array(label_mask)
label_mask_no = np.array(label_mask_no)

In [114]:
dataset = []

In [115]:
for i in range(len(mask)):
    dataset.append([mask[i], label_mask[i]])

In [116]:
for i in range(len(mask_no)):
    dataset.append([mask_no[i], label_mask_no[i]])

In [117]:
dataset = np.array(dataset)

c:\Users\USER\anaconda3\envs\sk\lib\site-packages\ipykernel_launcher.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  """Entry point for launching an IPython kernel.

In [118]:
dataset.shape

(400, 2)

In [119]:
dataset = pd.DataFrame(dataset, columns=['img', 'label'])

dataset

                                                   img label
0    [[[129, 121, 124], [131, 123, 120], [136, 128,...     0
1    [[[132, 122, 121], [128, 119, 113], [127, 120,...     0
2    [[[134, 125, 118], [136, 126, 116], [134, 121,...     0
3    [[[136, 123, 117], [136, 127, 113], [129, 122,...     0
4    [[[132, 122, 120], [142, 126, 126], [126, 125,...     0
..                                                 ...   ...
395  [[[141, 132, 133], [137, 134, 118], [129, 132,...     1
396  [[[131, 129, 108], [137, 136, 113], [140, 134,...     1
397  [[[143, 132, 132], [143, 131, 125], [138, 132,...     1
398  [[[133, 129, 126], [135, 130, 127], [140, 131,...     1
399  [[[136, 127, 120], [135, 129, 117], [135, 130,...     1

[400 rows x 2 columns]

In [120]:
dataset.to_csv('./data/dataset.csv', index=False)

In [121]:
d = pd.read_csv('./data/dataset.csv')

d

                                                   img  label
0    [[[129 121 124]\n  [131 123 120]\n  [136 128 1...      0
1    [[[132 122 121]\n  [128 119 113]\n  [127 120 1...      0
2    [[[134 125 118]\n  [136 126 116]\n  [134 121 1...      0
3    [[[136 123 117]\n  [136 127 113]\n  [129 122 1...      0
4    [[[132 122 120]\n  [142 126 126]\n  [126 125 1...      0
..                                                 ...    ...
395  [[[141 132 133]\n  [137 134 118]\n  [129 132 1...      1
396  [[[131 129 108]\n  [137 136 113]\n  [140 134 1...      1
397  [[[143 132 132]\n  [143 131 125]\n  [138 132 1...      1
398  [[[133 129 126]\n  [135 130 127]\n  [140 131 1...      1
399  [[[136 127 120]\n  [135 129 117]\n  [135 130 1...      1

[400 rows x 2 columns]